<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BeLL LCMS</title>
  <link href="http://raspberrypi.local/css/style.css" type="text/css" rel="stylesheet">
</head>
<body style="background-color:#FFF">
  <div id="wrapper" style="background-color:#FFF; width:600px;">
    <div id="rightContent" style="float:none; margin-left:auto; margin-right:auto; width:500px; margin-left:auto; margin-right:auto;">
      <span style="color:#00C; font-weight: bold;">
        Stories for the week
      </span>

  <!-- 
    SCAFFOLDING
  -->
    
    <form name="form1" method="post" action="http://raspberrypi.local/Stories4week.php">
      <table width="95%">
        <tbody><tr>
          <td width="123"><b>Week starting on</b></td>
          <td width="188"><span id="sprytextfield1">
          <span style="position: relative;"><input type="text" name="dateExec" id="dateExec" style="width:50%" autocomplete="off" globalnumber="607"></span>
          <td width="139"><b>Class </b>: <span id="spryselect1">
            <select name="class" id="levels">

            </select>
          <span class="selectRequiredMsg">Please select an item.</span></span></td>
        </tr>
        <tr>
          <td colspan="3"><b> Selected stories</b></td>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <select name="story1" id="story1" class="resources">
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>2</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>            
            <select name="story2" id="story2" class="resources">
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>3</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>            
            <select name="story3" id="story3" class="resources">
            </select>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>4</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <select name="story4" id="story4" class="resources">
            </select>
          </td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3"><b style="color:#666;">

    Note for discussion:
    <br>
    1. These stories could be used for comprehension passages, or listening and speaking
             or vocabulary building or even composition
    <br>
    2. The question however is what time would they have to read these stories? Would there be enough devices for everyone to read these stories? what are the implications for the time table
    <br>
    3. could this be an after school or a Saturday activity? who will supervise? how do you compensate the one who comes to supervise?</b></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><input type="submit" class="button" value="Submit">
            <input type="reset" class="button" value="Reset">
            <input type="hidden" name="systemDateForm" id="systemDateForm" value="2013-3-13 16:33:3"></td>
        </tr>
      </tbody></table>
    </form>

    </div>
  </div>


  <!-- 
    DEPENDENCIES
  -->


  <script src="js/vendor/jquery-1.7.2.js"></script>
  <script src="js/vendor/underscore-1.4.4.js"></script>
  <script src="js/vendor/backbone-1.0.0.js"></script>


  <!-- 
    TOOLS
  -->


  <script src="js/vendor/sha1.js"></script>
  <script src="js/vendor/jquery.couch.js"></script>
  <script src="js/vendor/backbone.couchdb.js"></script>
  <script src="js/vendor/html-encode.js"></script>


  <!--
    TEMPLATES
  -->


  <script type="text/template" id="resource-on-form-template">
    <option value='<%= resource.get('id') %>'><%= htmlEncode(resource.get('title')) %></option>
  </script>

  <script type="text/template" id="level-on-form-template">
    <option value='<%= level.get('key') %>'><%= htmlEncode(level.get('key')) %></option>
  </script>



  <!--
    SETTINGS
  -->


  <script>
    var thisDb = "bell-library"

    Backbone.couch.options = {
      database: thisDb,
      design: 'ghana-reads'
    };
  </script>


  <!-- 
    BACKBONE MODELS 
  -->


  <script>
    var Resource = Backbone.couch.Model.extend({"idAttribute":"id",urlRoot:thisDb})
    // Level is not actually a model in the DB
    var Level = Backbone.couch.Model.extend({"idAttribute":"key",urlRoot:thisDb})
  </script>


  <!--
    BACKBONE COLLECTIONS
  -->


  <script>
    var Resources = Backbone.couch.Collection.extend({
      couch: function() {
        return {
          view: 'ghana-reads/resources',
        }
      },
      model: Resource,
      _db: Backbone.couch.db(thisDb)
    })

    var Levels = Backbone.couch.Collection.extend({
      couch: function() {
        return {
          view: 'ghana-reads/active_levels?group=true',
        }
      },
      model: Level,
      _db: Backbone.couch.db(thisDb)
    })
  </script>


  <!-- 
    BACKBONE VIEWS (CONTROLLERS)
  -->


  <script>
    var SelectResourcesView = Backbone.View.extend({
      el: 'select.resources',
      render: function () {
        var that = this
        var resources = new Resources();
        resources.fetch({
          success: function (resources) {
            //console.log(resources)
            _.each(resources.models, function(resource) {
              // @todo Best practice to fetch the model in the collection view or the model's view?
              resource.fetch({
                success:function(resource) {
                  var selectResourceView = new SelectResourceView({model: resource})
                  selectResourceView.render()
                }
              })
            })
          }
        })
      }
    });
    var selectResourcesView = new SelectResourcesView()
  </script>

  <script>
    var SelectResourceView = Backbone.View.extend({
      el: '.resources',
      render: function () {
        var that = this
        //console.log(this.model)
        var template = _.template($('#resource-on-form-template').html(), {resource: this.model});
        that.$el.append(template);
      }
    });

  </script>

  <script>
    var SelectLevelsView = Backbone.View.extend({
      el: 'select#levels',
      render: function () {
        var that = this
        var levels = new Levels();
        levels.fetch({
          success: function (levels) {
            console.log(levels)
            _.each(levels.models, function(level) {
                  var selectLevelView = new SelectLevelView({model: level})
                  selectLevelView.render()
            })
          }
        })
      }
    });
    var selectLevelsView = new SelectLevelsView()
  </script>

  <script>
    var SelectLevelView = Backbone.View.extend({
      el: 'select#levels',
      /// setElement: function(something) {}, // need to find better docs on this
      events: {
        // @todo This event is firing for EVERY level, should just be this one level.  Might need to use something like View.setElement
        'click': 'showResourcesByLevel'
      },
      render: function () {
        var that = this
        console.log(this.model)
        var template = _.template($('#level-on-form-template').html(), {level: this.model});
        that.$el.append(template);
      },
      showResourcesByLevel: function(ev) {
        console.log(ev)
        console.log(this)
      }
      
    });

  </script>

  <script>
    var GroupEditView = Backbone.View.extend({
      el: '.group-manager',
      events: {
        'submit .edit-group-form': 'saveGroup',
        'click .group-delete': 'deleteGroup'
      },
      saveGroup: function (ev) {
        var groupDetails = $(ev.currentTarget).serializeObject();
        var group = new Group();
        group.save(groupDetails, {
          success: function (group) {
            router.navigate('', {trigger:true});
          }
        });
        return false;
      },
      deleteGroup: function (ev) {
        this.group.destroy({
          success: function () {
            console.log('destroyed');
            router.navigate('', {trigger:true});
          }
        })
      },
      render: function (options) {
        var that = this;
        if(options.id) {
          that.group = new Group({id: options.id});
          that.group.fetch({
            success: function (group) {    
              var template = _.template($('#edit-group-template').html(), {group: group});
              that.$el.html(template);
            }
          })
        } else {
          var template = _.template($('#edit-group-template').html(), {group: null});
          that.$el.html(template);
        }
      }
    });
  </script>


  <!-- 
    BACKBONE ROUTER
  -->


  <script>

    // Define the routes
    var Router = Backbone.Router.extend({
      routes: {
        "": "home",
      }
    });

    // Define the callbacks
    var router = new Router;
    router.on('route:home', function() {
      // render user list
      selectResourcesView.render()
      selectLevelsView.render()
    })

    // Get this party started
    Backbone.history.start();

  </script>


</body>
</html> 

