<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BeLL LCMS</title>
  <link href="http://raspberrypi.local/css/style.css" type="text/css" rel="stylesheet">
  <link href="js/vendor/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css" type="text/css" rel="stylesheet">
</head>
<body style="background-color:#FFF">
  <div id="wrapper" style="background-color:#FFF; width:600px;">
    <div id="rightContent" style="float:none; margin-left:auto; margin-right:auto; width:500px; margin-left:auto; margin-right:auto;">
      <span style="color:#00C; font-weight: bold;">
        Stories for the week
      </span>

  <!-- 
    SCAFFOLDING
  -->
    
    <form name="form1" method="post" action="http://raspberrypi.local/Stories4week.php">
      <table width="95%">
        <tbody><tr>
          <td width="123"><b>Week starting on</b></td>
          <td width="188">
            <input name="dateExec" id="datepicker" />
          <td width="139"><b>Class </b>: <span id="spryselect1">
            <select name="class" id="levels">

            </select>
          <span class="selectRequiredMsg">Please select an item.</span></span></td>
        </tr>
        <tr>
          <td colspan="3"><b> Selected stories</b></td>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <select name="story1" id="story1" class="resources">
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>2</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>            
            <select name="story2" id="story2" class="resources">
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>3</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>            
            <select name="story3" id="story3" class="resources">
            </select>
        </tr>
        <tr>
          <td colspan="3" align="left"><b>4</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <select name="story4" id="story4" class="resources">
            </select>
          </td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3"><b style="color:#666;">

    Note for discussion:
    <br>
    1. These stories could be used for comprehension passages, or listening and speaking
             or vocabulary building or even composition
    <br>
    2. The question however is what time would they have to read these stories? Would there be enough devices for everyone to read these stories? what are the implications for the time table
    <br>
    3. could this be an after school or a Saturday activity? who will supervise? how do you compensate the one who comes to supervise?</b></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><input type="submit" class="button" value="Submit">
            <input type="reset" class="button" value="Reset">
            <input type="hidden" name="systemDateForm" id="systemDateForm" value="2013-3-13 16:33:3"></td>
        </tr>
      </tbody></table>
    </form>

    </div>
  </div>


  <!-- 
    DEPENDENCIES
  -->


  <script src="js/vendor/jquery-1.7.2.js"></script>
  <script src="js/vendor/underscore-1.4.4.js"></script>
  <script src="js/vendor/backbone-1.0.0.js"></script>
  <script src="js/vendor/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"><script>


  <!-- 
    TOOLS
  -->


  <script src="js/vendor/sha1.js"></script>
  <script src="js/vendor/jquery.couch.js"></script>
  <script src="js/vendor/backbone.couchdb.js"></script>
  <script src="js/vendor/html-encode.js"></script>


  <!--
    TEMPLATES
  -->


  <script type="text/template" id="resource-on-form-template">
    <option value='<%= resource.get('id') %>'><%= htmlEncode(resource.get('title')) %> (<%= levels %>)</option>
  </script>

  <script type="text/template" id="level-on-form-template">
    <option value='<%= level.get('key') %>'><%= htmlEncode(level.get('key')) %></option>
  </script>



  <!--
    SETTINGS
  -->


  <script>
    var thisDb = document.URL.split("/")[3]

    Backbone.couch.options = {
      database: thisDb,
      design: 'ghana-reads'
    };
  </script>


  <!-- 
    BACKBONE MODELS 
  -->


  <script src="app/models/Level.js"></script>

  <script src="app/models/Resource.js"></script>


  <!--
    BACKBONE COLLECTIONS
  -->



  <script src="app/collections/Levels.js"> </script>
  
  <script src="app/collections/Resources.js"> </script>


  <!-- 
    BACKBONE VIEWS
  -->


  <script src="app/views/SelectResourcesView.js"> </script> 

  <script src="app/views/SelectResourceView.js"> </script>

  <script src="app/views/SelectLevelsView.js"> </script>

  <script src="app/views/SelectLevelView.js"> </script>


  <!-- 
    BACKBONE ROUTER
  -->


  <script>

    // Get the collections
    var selectResourcesView = new SelectResourcesView()
    var selectLevelsView = new SelectLevelsView()

    // Define the routes
    var Router = Backbone.Router.extend({
      routes: {
        "": "home",
      }
    });

    // Define the callbacks
    var router = new Router;
    router.on('route:home', function() {

      $( "#datepicker" ).datepicker({
        inline: false,
        dateFormat: "yy-mm-dd"
      });
      
      // render user list
      selectResourcesView.render()
      selectLevelsView.render()

    })

    // Filter by level
    router.on(':level', function() {

     $( "#datepicker" ).datepicker({
        inline: false,
        dateFormat: "yy-mm-dd"
      });
      
      // render user list
      selectResourcesView.render(resources.where({level:level}))
      selectLevelsView.render()
    })

    // Get this party started
    Backbone.history.start();

  </script>


</body>
</html> 

